[Desktop Entry]
Name=Lampp Control
Name[de]= Lampp Control
Comment=Control programm for Xampp
Comment[de]=Kontrol Programm für Xampp
Exec=/opt/lampp/lampp_control
Icon=/opt/lampp/share/lampp_control/logo.gif
Categories=Utility;
Terminal=false
Type=Application
Encoding=UTF-8
